html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.case-card:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}

#blazor-error-ui {
    background: #b71c1c;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuOTI5IDUxLjMwNCAyNjYuOTQgNTEuOTEyTDI4Ny4yMTQgNjQuMTgyQzI4OS4yMzYgNjUuMzk4IDI5MC41IDY3LjU5NSAyOTAuNSA2OS45OTNWOTQuMDExQzI5MC41IDk2LjQwOSAyODkuMjM2IDk4LjYwNiAyODcuMjE0IDk5LjgyMkwyNjYuOTQgMTEyLjA5MkMyNjQuOTE4IDExMy4zMDggMjYyLjA5NCAxMTMuMzA4IDI2MC4wNzIgMTEyLjA5MkwyMzkuNzk4IDk5LjgyMkMyMzcuNzc2IDk4LjYwNiAyMzYuNTEyIDk2LjQwOSAyMzYuNTEyIDk0LjAxMVY2OS45OTNDMjM2LjUxMiA2Ny41OTUgMjM3Ljc3NiA2NS4zOTggMjM5Ljc5OCA2NC4xODJMMjYwLjA3MiA1MS45MTJDMjYxLjA4MyA1MS4zMDQgMjYyLjI5NSA1MSAyNjMuNTA2IDUxWiIgZmlsbD0iI0ZGNkY2RiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuOTI5IDUxLjMwNCAyNjYuOTQgNTEuOTEyTDI4Ny4yMTQgNjQuMTgyQzI4OS4yMzYgNjUuMzk4IDI5MC41IDY3LjU5NSAyOTAuNSA2OS45OTNWOTQuMDExQzI5MC41IDk2LjQwOSAyODkuMjM2IDk4LjYwNiAyODcuMjE0IDk5LjgyMkwyNjYuOTQgMTEyLjA5MkMyNjQuOTE4IDExMy4zMDggMjYyLjA5NCAxMTMuMzA4IDI2MC4wNzIgMTEyLjA5MkwyMzkuNzk4IDk5LjgyMkMyMzcuNzc2IDk4LjYwNiAyMzYuNTEyIDk2LjQwOSAyMzYuNTEyIDk0LjAxMVY2OS45OTNDMjM2LjUxMiA2Ny41OTUgMjM3Ljc3NiA2NS4zOTggMjM5Ljc5OCA2NC4xODJMMjYwLjA3MiA1MS45MTJDMjYxLjA4MyA1MS4zMDQgMjYyLjI5NSA1MSAyNjMuNTA2IDUxWiIgc3Ryb2tlPSIjRTkyNTI1IiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiLz48L2c+PC9zdmc+) no-repeat 1rem/1.8rem, #fff;
    padding: 1rem 1rem 1rem 3.7rem;
    color: #b71c1c;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}
